*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header-container{
    width: 100%;
    margin-bottom: 1.5rem;
}

h1, h2{
    text-align: center;
}

.header-image{
      display: block;
      margin-left: auto;
      margin-right: auto;
}

.body {
   background-color: #e6ffff;
   padding: 0;
   margin: 0;
   width: 100%;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1rem;
    padding-left: 1rem;
    }


.form-control-plaintext {
    font-weight: bold;
}


.expanded {
  max-height: 10000px;
}


.container{
    margin-top: 5vh;
    align: left;
}


.row {
    display: flex;
    justify-content: space-between;
}


.h2, h2 {
    font-size: 1rem;
    margin-bottom: 1.5rem;
}
